<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Welcome! by Prescientje</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Welcome!</h1>
        <p>The Homepage of James H Edwards</p>


        <p class="view"><a href="https://github.com/Prescientje">View My GitHub Profile</a></p>

      </header>
      <section>
        <h2>
<a id="hello" class="anchor" href="#hello" aria-hidden="true">
	<span aria-hidden="true" class="octicon octicon-link"></span></a>Identifying Hand Hygiene with Deep Learning</h2>

For my senior thesis project at the Rose-Hulman Institute of Technology, I am working with Dr. Valerie Galluzzi to identify hand hygiene using neural networks.
<br> I have used labeled data from wrist sensors containing X,Y, and Z acceleration values sampled at 100 Hz. I used varying window lengths of up to 250 samples (up to 2.5 seconds). 
<br> Multiple models were trained to compare accuracies.
<br> The "original" model just used the X, Y, and Z values from each hand together. 
<br> <img src="./files/original.png" alt="Original Model" title="Original Model">

<br> The "complex" model used the X, Y, and Z values, along with the X^2, Y^2, Z^2 values and the X*Y, Y*Z, and Z*X values to evaluate any interplay from the axes of motion.
<br> <img src="./files/complex.png" alt="Complex Model" title="Complex Model">

<br> The "layered" model just used the X, Y, and Z values from each hand together with one hidden layer of nodes. 
<br> <img src="./files/layered.png" alt="Layered Model" title="Layered Model">

<br> The "xyz" model just used the X, Y, and Z values from each hand together, but rearranged the data into "previous," "now," and "next" columns. 
<br> <img src="./files/xyz1.png" alt="XYZ Model" title="XYZ Model">

<br> All of these models had better-than-chance accuracy, and the results of the "both hands together tests" are summarized in the table below:
<br> <img src="./files/recallandaccuracy.png" alt="Accuracy and Recall" title="Accuracy and Recall">

<br> I was very shocked at the ~99% accuracy of the xyz model, and I have concluded that this is due to how I preprocessed the data: I needed to generate more hand hygiene samples, so I supersampled them at a rate such that the final split was close to 45% HH, 55% NHH. 
<br> Due to this set up, the xyz model would have many repeated values in the HH samples, so the neural network could essentially be acting like a "repeated values detector."

<br> After these results I developed another few models to see their results.

<br> The "layered5" model just used the X, Y, and Z values from each hand together with five hidden layers of nodes, and is simply a deeper version of the layered model. 

<br> Future plans are to implement other models and to make another program to analyze the effectiveness of the models. 




      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
